/* Color pallette
--indigo-dye: #004777ff;
--alice-blue: #f4faffff;
--cambridge-blue: #7a9e7eff;
--indian-red: #c1666bff;
--mountbatten-pink: #ac80a0ff; */

header {
    position: relative;
    background-color: #004777ff;
    padding: 200px;
}

.profileimage img {

        max-width: 250px;
        border-radius: 100%;
        box-sizing: border-box;
        position: absolute;
        top: 75px;
        left: 15px;
        
}

.nameprofession {
    position: absolute;
    right: 200px;
    top: 30px;
    margin: 0;
    padding: 0;
    max-width: 500px;
    color: #f4faffff;
    text-align: center;
    font-size: 1.7em;
}

.contactlink {
  max-width: 150px;
  position: absolute;
  right: 40px;
  top: 130px;

}

.contactlink a {
  width: 150px;
  height: 150px;
}

.contactlink a img {
  max-width: 150px;
}

body {
    
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    margin: 0; 
}

.content {
    position: relative;
    font-family: 'Noto Sans Symbols', sans-serif;

}

.navbar {

    width: 100%;
    margin: 0 auto;
  
  }
  
  nav {
  
    background: #004777ff;
  
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    
  }
  
  nav li {
    border-style: solid;
    border-color: rgb(0, 34, 56);
    flex: 1 1 0;
    text-align: center;

  }

  .educationbutton {
    border-top-width: 6px;
  }
  
  nav a {
    text-decoration: none;
    color: #E6FFF8;
    display: block;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: rgba(72, 182, 255, 0.377);;
  }

.education_box {
    margin-bottom: 25px;
}

.skills {

}

.contact {
  background-color: #004777ff;

}
